<div style="padding: 20px;">
    <h4>combineLatest, forkJoin, switchMap, iif, tap, from, mergeMap, concatMap, shareReplay, reduce, scan</h4>
    <h4>Lazy load, IntersectionObserver, CDK Virtual Scroll</h4>
    <h4>WebSocket</h4>
    <h4>emoji unicode</h4>
    <p><b>tap</b> là side-effect operator: dùng để làm việc phụ trong pipeline mà không làm thay đổi dữ liệu của
        Observable</p>
    <p>Nó thường dùng cho logging, debug, trigger action, hoặc thao tác phụ (ví dụ: show/hide loading).</p>
    <p>Khác với map (biến đổi dữ liệu). tap chỉ "nhìn qua" và không thay đổi giá trị đi tiếp.</p>

    <hr>

    <app-chat-dialog></app-chat-dialog>

    <app-chat-dialog-search></app-chat-dialog-search>

    <p>Thư viện <b>emoji unicode</b> dùng để copy các icon và paste vào đoạn code html. Ví dụ: <code>😀</code></p>
    <p>https://emojipedia.org/</p>
    <p>https://unicode.org/emoji/charts/full-emoji-list.html</p>
    <p>https://getemoji.com/?utm_source=chatgpt.com</p>

    <hr>

    <!--combineLatest, switchMap, iif, forkJoin-->
    <app-user></app-user>

    <hr>
    <br>

    <!--concatMap và mergeMap + from-->
    <app-user-post></app-user-post>

    <hr>

    <p>Ví dụ về <b>combineLatest</b> nhưng không thể dùng <b>forkJoin</b> được</p>
    <app-combine-latest></app-combine-latest>

    <hr>

    <app-search></app-search>

    <hr>

    <p>Search Lazy Load: lấy toàn bộ dữ liệu từ api, mỗi lần scroll chuột thì lấy 5 dữ liệu</p>
    <app-search-lay-load></app-search-lay-load>

    <hr>

    <p>Search Lazy Load: lấy một phần dữ liệu từ api có phân trang, mỗi lần scroll chuột thì truyền số trang tiếp theo
        để lấy tiếp dữ liệu search</p>
    <p>Ưu điểm: đơn giản, load thêm khi gần chạm đáy.</p>
    <p>Nhược: DOM vẫn render tất cả items → nhiều dữ liệu thì lag.</p>
    <app-search-lazy-load2></app-search-lazy-load2>

    <hr>
    <br>

    <h4 style="color: red;font-weight: 600;">Search Lazy Load sử dụng IntersectionObserver để tự động tải thêm dữ liệu
        khi cuộn đến cuối danh sách.</h4>
    <app-search-lazy-load3></app-search-lazy-load3>

    <hr>
    <br>

    <h4 style="color: red;font-weight: 600;">Search Lazy Load sử dụng CDK Virtual Scroll (cdk-virtual-scroll-viewport)
        (chỉ render khoảng 20 item visible)</h4>
    <p>Cần cài đặt thông qua npm</p>
    <app-search-lazy-load4></app-search-lazy-load4>

    <br>
    <br>
    <br>
    <br>
    <br>
</div>